# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script before PyInstaller builds the exe
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit testing / coverage reports
htmlcov/
.tosca/
.pytest_cache/
.pytest/
.cache/
.poetry/
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.hypothesis/
.nox/
.tox/
vulture_whitelist.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
